html, body, #root{
  width: 100vw;
  height: 100vh;
}

html {
  background-image: url('./mario_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 50vh;
  overflow-y: scroll;
  width: 50vw;
  min-height: 50vw;
  background-color: rgba(255, 255, 255, 0.301);
  border: 3px solid black;
  padding: 20px;
}
